body{margin-top:20px;}
/*************** 1.Variables ***************/


/* ------------------ Color Pallet ------------------ */


/*************** 2.Mixins ***************/


/************************************************
************************************************
            Search Box
************************************************
************************************************/

.chat-search-box {
-webkit-border-radius: 3px 0 0 0;
-moz-border-radius: 3px 0 0 0;
border-radius: 3px 0 0 0;
padding: .75rem 1rem;
}

.chat-search-box .input-group .form-control {
-webkit-border-radius: 2px 0 0 2px;
-moz-border-radius: 2px 0 0 2px;
border-radius: 2px 0 0 2px;
border-right: 0;
}

.chat-search-box .input-group .form-control:focus {
border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
-webkit-border-radius: 0 2px 2px 0;
-moz-border-radius: 0 2px 2px 0;
border-radius: 0 2px 2px 0;
margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
font-size: 1.2rem;
line-height: 100%;
vertical-align: middle;
}

@media (max-width: 767px) {
.chat-search-box {
display: none;
}
}


/************************************************
************************************************
          Users Container
************************************************
************************************************/

.users-container {
position: relative;
padding: 1rem 0;
border-right: 1px solid #e6ecf3;
height: 100%;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
}


/************************************************
************************************************
              Users
************************************************
************************************************/

.users {
padding: 0;
}

.users .person {
position: relative;
width: 100%;
padding: 10px 1rem;
cursor: pointer;
border-bottom: 1px solid #f0f4f8;
}

.users .person:hover {
background-color: #ffffff;
/* Fallback Color */
background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
/* Saf4+, Chrome */
background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
/* Chrome 10+, Saf5.1+, iOS 5+ */
background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
/* FF3.6 */
background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
/* IE10 */
background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
/* Opera 11.10+ */
background-image: linear-gradient(right, #e9eff5, #ffffff);
}

.users .person.active-user {
background-color: #ffffff;
/* Fallback Color */
background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#ffffff));
/* Saf4+, Chrome */
background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
/* Chrome 10+, Saf5.1+, iOS 5+ */
background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
/* FF3.6 */
background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
/* IE10 */
background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
/* Opera 11.10+ */
background-image: linear-gradient(right, #f7f9fb, #ffffff);
}

.users .person:last-child {
border-bottom: 0;
}

.users .person .user {
display: inline-block;
position: relative;
margin-right: 10px;
}

.users .person .user img {
width: 48px;
height: 48px;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}

.users .person .user .status {
width: 10px;
height: 10px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
background: #e6ecf3;
position: absolute;
top: 0;
right: 0;
}

.users .person .user .status.online {
background: #9ec94a;
}

.users .person .user .status.offline {
background: #c4d2e2;
}

.users .person .user .status.away {
background: #f9be52;
}

.users .person .user .status.busy {
background: #fd7274;
}

.users .person p.name-time {
font-weight: 600;
font-size: .85rem;
display: inline-block;
}

.users .person p.name-time .time {
font-weight: 400;
font-size: .7rem;
text-align: right;
color: #8796af;
}

@media (max-width: 767px) {
.users .person .user img {
width: 30px;
height: 30px;
}
.users .person p.name-time {
display: none;
}
.users .person p.name-time .time {
display: none;
}
}


/************************************************
************************************************
          Chat right side
************************************************
************************************************/

.selected-user {
width: 100%;
padding: 0 15px;
min-height: 64px;
line-height: 64px;
border-bottom: 1px solid #e6ecf3;
-webkit-border-radius: 0 3px 0 0;
-moz-border-radius: 0 3px 0 0;
border-radius: 0 3px 0 0;
}

.selected-user span {
line-height: 100%;
}

.selected-user span.name {
font-weight: 700;
}

.chat-container {
position: relative;
padding: 1rem;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
display: flex;
flex: 1;
flex-direction: row;
margin-bottom: 40px;
}

.chat-container li img {
width: 48px;
height: 48px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}

.chat-container li .chat-avatar {
margin-right: 20px;
}

.chat-container li.chat-right {
justify-content: flex-end;
}

.chat-container li.chat-right > .chat-avatar {
margin-left: 20px;
margin-right: 0;
}

.chat-container li .chat-name {
font-size: .75rem;
color: #999999;
text-align: center;
}

.chat-container li .chat-text {
padding: .4rem 1rem;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #ffffff;
font-weight: 300;
line-height: 150%;
position: relative;
}

.chat-container li .chat-text:before {
content: '';
position: absolute;
width: 0;
height: 0;
top: 10px;
left: -20px;
border: 10px solid;
border-color: transparent #ffffff transparent transparent;
}

.chat-container li.chat-right > .chat-text {
text-align: right;
}

.chat-container li.chat-right > .chat-text:before {
right: -20px;
border-color: transparent transparent transparent #ffffff;
left: inherit;
}

.chat-container li .chat-hour {
padding: 0;
margin-bottom: 10px;
font-size: .75rem;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin: 0 0 0 15px;
}

.chat-container li .chat-hour > span {
font-size: 16px;
color: #9ec94a;
}

.chat-container li.chat-right > .chat-hour {
margin: 0 15px 0 0;
}

@media (max-width: 767px) {
.chat-container li.chat-left,
.chat-container li.chat-right {
flex-direction: column;
margin-bottom: 30px;
}
.chat-container li img {
width: 32px;
height: 32px;
}
.chat-container li.chat-left .chat-avatar {
margin: 0 0 5px 0;
display: flex;
align-items: center;
}
.chat-container li.chat-left .chat-hour {
justify-content: flex-end;
}
.chat-container li.chat-left .chat-name {
margin-left: 5px;
}
.chat-container li.chat-right .chat-avatar {
order: -1;
margin: 0 0 5px 0;
align-items: center;
display: flex;
justify-content: right;
flex-direction: row-reverse;
}
.chat-container li.chat-right .chat-hour {
justify-content: flex-start;
order: 2;
}
.chat-container li.chat-right .chat-name {
margin-right: 5px;
}
.chat-container li .chat-text {
font-size: .8rem;
}
}

.chat-form {
padding: 15px;
width: 100%;
left: 0;
right: 0;
bottom: 0;
background-color: #ffffff;
border-top: 1px solid white;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.card {
border: 0;
background: #f4f5fb;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
margin-bottom: 2rem;
box-shadow: none;
}


.record-body {
    /* position: absolute; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    /* height: 100%;
    width: 100%; */
    margin: 0;
}
.holder {
    background-color: #4c474c;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#4c474c), to(#141414));
    background-image: -o-linear-gradient(bottom, #4c474c 0%, #141414 100%);
    background-image: linear-gradient(0deg, #4c474c 0%, #141414 100%);
    border-radius: 50px;
}
[data-role="controls"] > button {
    margin: 50px auto;
    outline: none;
    display: block;
    border: none;
    background-color: #D9AFD9;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#D9AFD9), to(#97D9E1));
    background-image: -o-linear-gradient(bottom, #D9AFD9 0%, #97D9E1 100%);
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-indent: -1000em;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3) inset,
        0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
            box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.3) inset,
        0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
}
[data-role="controls"] > button:hover {
    background-color: #ee7bee;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ee7bee), to(#6fe1f5));
    background-image: -o-linear-gradient(bottom, #ee7bee 0%, #6fe1f5 100%);
    background-image: linear-gradient(0deg, #ee7bee 0%, #6fe1f5 100%);
}
[data-role="controls"] > button[data-recording="true"] {
    background-color: #ff2038;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff2038), to(#b30003));
    background-image: -o-linear-gradient(bottom, #ff2038 0%, #b30003 100%);
    background-image: linear-gradient(0deg, #ff2038 0%, #b30003 100%);
}
[data-role="recordings"] > .row {
    width: auto;
    height: auto;
    padding: 20px;
}
[data-role="recordings"] > .row > audio {
    outline: none;
}
[data-role="recordings"] > .row > a {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    background-color: #0093E9;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#0093E9), to(#80D0C7));
    background-image: -o-linear-gradient(bottom, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);
    float: right;
    margin-left: 20px;
    cursor: pointer;
}
[data-role="recordings"] > .row > a:hover {
    text-decoration: none;
}
[data-role="recordings"] > .row > a:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0093E9), to(#80D0C7));
    background-image: -o-linear-gradient(top, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
}
